#include <windows.h>
#include "Defines.h"
#include "Resource.h"

#define _T(x) x

IDI_VIRTUAWIN ICON "Icons/virtuawin.ico"
IDI_ST_DIS_1  ICON "Icons/st_dis_1.ico"
IDI_ST_NW_1   ICON "Icons/st_nw_1.ico"
IDI_ST_NE_1   ICON "Icons/st_ne_1.ico"
IDI_ST_SW_1   ICON "Icons/st_sw_1.ico"
IDI_ST_SE_1   ICON "Icons/st_se_1.ico"
IDI_ST_DIS_2  ICON "Icons/st_dis_2.ico"
IDI_ST_NW_2   ICON "Icons/st_nw_2.ico"
IDI_ST_NE_2   ICON "Icons/st_ne_2.ico"
IDI_ST_SW_2   ICON "Icons/st_sw_2.ico"
IDI_ST_SE_2   ICON "Icons/st_se_2.ico"
IDI_ST_0      ICON "Icons/st_0.ico"
IDI_ST_1      ICON "Icons/st_1.ico"
IDI_ST_2      ICON "Icons/st_2.ico"
IDI_ST_3      ICON "Icons/st_3.ico"
IDI_ST_4      ICON "Icons/st_4.ico"
IDI_ST_5      ICON "Icons/st_5.ico"
IDI_ST_6      ICON "Icons/st_6.ico"
IDI_ST_7      ICON "Icons/st_7.ico"
IDI_ST_8      ICON "Icons/st_8.ico"
IDI_ST_9      ICON "Icons/st_9.ico"
IDI_CHECK     ICON "Icons/check.ico"

IDD_PROPPAGE_GENERAL DIALOG 0, 0, 210, 261
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Desktop Layout:", IDC_STATIC,  10, 16, 120, 10
    CONTROL         "XSpin", IDC_SLIDERX, "msctls_updown32", 0x0 | WS_CLIPSIBLINGS |
                    UDS_SETBUDDYINT, 22, 27, 0, 15
    CONTROL         "YSpin", IDC_SLIDERY, "msctls_updown32",  0x0 | WS_CLIPSIBLINGS |
                    UDS_SETBUDDYINT, 78, 27, 0, 15
    EDITTEXT        IDC_DESKX, 38, 30, 8, 8, ES_AUTOHSCROLL | ES_RIGHT |
                    ES_READONLY | NOT WS_BORDER | WS_GROUP | NOT WS_TABSTOP
    LTEXT           "wide by", IDC_STATIC, 48, 30, 24, 8
    EDITTEXT        IDC_DESKY, 94, 30, 8, 8, ES_AUTOHSCROLL | ES_RIGHT |
                    ES_READONLY | NOT WS_BORDER | WS_GROUP | NOT WS_TABSTOP
    LTEXT           "deep", IDC_STATIC, 104, 30, 16, 8
    AUTOCHECKBOX    "Enable desktop wrapping", IDC_DESKCYCLE, 10, 44, 100, 10
    LTEXT           "", IDC_DESKTOPLBL, 10, 57, 135, 10
    PUSHBUTTON      "&Next", IDC_DESKTOPBTN, 160, 67, 36, 14
    EDITTEXT        IDC_DESKTOPNAME, 22,68, 130, 12, ES_LEFT | ES_AUTOHSCROLL
    GROUPBOX        "Desktop Configuration", IDC_STATIC, 4, 5, 202, 81

    GROUPBOX        "User Interface", IDC_STATIC,   4, 89, 202, 102
    LTEXT           "Available window list actions:", IDC_STATIC, 10, 100, 120, 10
    AUTOCHECKBOX    "Switch To",   IDC_MENUACCESS, 22, 111, 50, 10
    AUTOCHECKBOX    "Move Here",   IDC_MENUMOVE,   77, 111, 55, 10
    AUTOCHECKBOX    "Show",        IDC_MENUSHOW,   22, 122, 50, 10
    AUTOCHECKBOX    "Always Show", IDC_MENUSTICKY, 77, 122, 55, 10
    AUTOCHECKBOX    "Use desktop title lines in window list", IDC_WLUSETTLLN, 10, 133, 150, 10
    AUTOCHECKBOX    "Mouse opens compact window list", IDC_COMPACTWLIST, 10, 144, 130, 10
    AUTOCHECKBOX    "Mouse opens compact window menu", IDC_COMPACTWMENU, 10, 155, 130, 10
    AUTOCHECKBOX    "Mouse opens compact control menu", IDC_COMPACTCMENU, 10, 166, 130, 10
    AUTOCHECKBOX    "Hotkey opens menu or list at fixed location", IDC_HOTKEYMENULOC, 10, 177, 160, 10
END

IDD_PROPPAGE_HOTKEYS DIALOG 0, 0, 210, 250
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Hotkeys", IDC_STATIC, 4, 5, 202, 235
    LISTBOX         IDC_HOTKEY_LIST, 10, 16, 190, 150, WS_VSCROLL | WS_HSCROLL | LBS_USETABSTOPS | WS_TABSTOP
    LTEXT           "Command:", IDC_STATIC,  10, 172, 40, 10
    COMBOBOX        IDC_HOTKEY_CMD, 50, 170, 150, 150, WS_VSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "Desktop:", IDC_STATIC,  10, 187, 40, 10
    COMBOBOX        IDC_HOTKEY_DSK, 50, 185, 25, 200, CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP
    AUTOCHECKBOX    "Operate on window under mouse", IDC_HOTKEY_WUM, 85, 187, 119, 10
    LTEXT           "Hotkey:", IDC_STATIC, 10, 202, 40, 10
    CONTROL         "Hotkey", IDC_HOTKEY_ENT, "msctls_hotkey32", 0x0 | WS_BORDER | WS_TABSTOP, 50, 200, 102, 12
    AUTOCHECKBOX    "+ WIN", IDC_HOTKEY_WIN, 155, 202, 35, 9, 0x0020
    PUSHBUTTON      "Add", IDC_HOTKEY_ADD, 55, 220, 40, 14
    PUSHBUTTON      "Modify", IDC_HOTKEY_MOD, 100, 220, 40, 14
    PUSHBUTTON      "Delete", IDC_HOTKEY_DEL, 145, 220, 40, 14
END

IDD_PROPPAGE_MOUSE DIALOGEX 0, 0, 210, 250
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Mouse Support", IDC_STATIC, 4, 5, 202, 172
    AUTOCHECKBOX    "Enable mouse desktop changing", IDC_ENABLEMOUSE, 10, 16, 120, 10
    AUTOCHECKBOX    "Only change when dragging a window", IDC_MOUSEDRAG, 22, 27, 150, 10
    LTEXT           "Delay before changing desktop:", IDC_STATIC, 22, 38, 120, 8
    CONTROL         "Slider1", IDC_SLIDER, "msctls_trackbar32", 0x19 |
                    WS_TABSTOP, 34, 49, 80, 15
    EDITTEXT        IDC_TIME, 125, 51, 20, 12, ES_RIGHT | ES_AUTOHSCROLL |
                    ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT           "ms", IDC_STATIC, 145, 51, 35, 10
    AUTOCHECKBOX    "Enable modifier key control", IDC_KEYCONTROL, 22, 65, 110, 10
    LTEXT           "Modifier:", IDC_STATIC, 34, 76, 30, 8
    AUTOCHECKBOX    "Shift", IDC_MSHIFT, 67, 76, 34, 10
    AUTOCHECKBOX    "Ctrl", IDC_MCTRL, 102, 76, 30, 10
    AUTOCHECKBOX    "Alt", IDC_MALT, 132, 76, 29, 10
    AUTOCHECKBOX    "Win", IDC_MWIN, 162, 76, 29, 10
    AUTOCHECKBOX    "Enable desktop edge knocking", IDC_KNOCKMODE1, 22, 89, 125, 10
    AUTOCHECKBOX    "Always required", IDC_KNOCKMODE2, 34, 100, 90, 10

    LTEXT           "Mouse jump length", IDC_STATIC, 22, 116, 60, 8, 0
    EDITTEXT        IDC_JUMP, 87, 114, 20, 12, ES_AUTOHSCROLL
    AUTOCHECKBOX    "Enable mouse warping", IDC_MOUSEWARP, 22, 130, 90, 10
    AUTOCHECKBOX    "Enable middle button desktop changing", IDC_MOUSEMDCHNG, 10, 141, 160, 10
    AUTOCHECKBOX    "Enable middle button window list activation", IDC_MOUSEWLIST, 10, 152, 160, 10
    AUTOCHECKBOX    "Enable middle button window menu activation", IDC_MOUSEWMENU, 10, 163, 160, 10
END

IDD_PROPPAGE_MODULES DIALOG 0, 0, 210, 250
STYLE WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Module List", IDC_STATIC, 4, 5, 202, 135
    LISTBOX         IDC_MODLIST, 10, 16, 190, 100, LBS_NOINTEGRALHEIGHT |
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Configure", IDC_MODCONFIG, 10, 120, 40, 14
    PUSHBUTTON      "Reload",    IDC_MODRELOAD, 55, 120, 40, 14
    PUSHBUTTON      "Enable/Disable",  IDC_MODDISABLE, 100, 120, 60, 14
    PUSHBUTTON      "Get Modules",  IDC_GETMODS, 140, 230, 60, 14
END

IDD_PROPPAGE_EXPERT DIALOG 0, 0, 210, 250
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Advanced Options", IDC_STATIC, 4, 5, 202, 109
    LTEXT           "On desktop change preserve:", IDC_STATIC,  10, 16, 120, 10
    COMBOBOX        IDC_PRESORDER, 22, 26, 130, 75, CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "On hidden window activation:", IDC_STATIC, 10, 41, 120, 10
    COMBOBOX        IDC_HIDWINACT, 22, 51, 130, 56, CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP
    AUTOCHECKBOX    "Restore focus on desktop change", IDC_FOCUS,                10,  66, 125, 10
    AUTOCHECKBOX    "Hide minimized windows on desktop change", IDC_HIDEMINWIN,  10,  77, 155, 10
    AUTOCHECKBOX    "Invert Up/Down", IDC_INVERTY,                               10,  88,  70, 10
    AUTOCHECKBOX    "Hide system tray icon", IDC_DISPLAYICON,                    10,  99,  80, 10

    GROUPBOX        "Workarounds", IDC_STATIC, 4, 117, 202, 102
    AUTOCHECKBOX    "Enable taskbar detection", IDC_TASKBARDETECT,               10, 128, 100, 10
    AUTOCHECKBOX    "Enable Windows hook", IDC_USEVWHOOK,                        10, 139, 100, 10
    AUTOCHECKBOX    "Enable window specific rules", IDC_USEWINRULES,             10, 150, 130, 10
    AUTOCHECKBOX    "Enable dynamic taskbar button removal", IDC_DYNBUTTONRM,    10, 161, 150, 10
    AUTOCHECKBOX    "Force release of modifier keys on desktop change", IDC_USEDCMODREL,   10, 172, 180, 10
    AUTOCHECKBOX    "Force refresh after desktop change", IDC_REFRESH,           10, 183, 130, 10
    AUTOCHECKBOX    "Only hide taskbar button of minimized windows", IDC_NOHIDEMINWIN,     10, 194, 180, 10
    AUTOCHECKBOX    "Write events to virtuawin.log", IDC_DEBUGLOGGING,           10, 205, 130, 10

    PUSHBUTTON      "Log Windows",     IDC_LOGWINDOWS,   70, 230, 60, 14
    PUSHBUTTON      "Explore Config",  IDC_EXPLORECNFG, 140, 230, 60, 14
END

IDD_PROPPAGE_ABOUT DIALOG 0, 0, 210, 250
STYLE DS_3DLOOK | WS_CHILD | WS_DISABLED | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        vwVIRTUAWIN_NAME_VERSION, IDC_STATIC, 4, 5, 202, 91, 0x0300
    ICON            IDI_VIRTUAWIN, IDC_STATIC, 95, 16, 20, 20
    LTEXT           "Copyright (c) 1999-2005 Johan Piculell", IDC_STATIC, 35, 40, 150, 8
    LTEXT           "Copyright (c) 2006-2012 VirtuaWin", IDC_STATIC, 35, 50, 150, 8
    LTEXT           vwVIRTUAWIN_EMAIL, IDC_MAILTO, 50, 60, 190, 8, 0x0100
    LTEXT           "Latest version, info, source, etc. visit:", IDC_STATIC, 35, 72, 150, 8
    LTEXT           vwVIRTUAWIN_WEBSITE, IDC_HTTP, 50, 82, 190, 10, 0x0100
    GROUPBOX        "License", IDC_STATIC, 4, 99, 202, 140, 0x0300
    EDITTEXT        IDC_LICENSE, 10, 110, 190, 125, ES_MULTILINE | ES_READONLY |NOT WS_TABSTOP | NOT WS_BORDER
END

IDD_WINDOWINFODIALOG DIALOG 79, 25, 250, 210
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "VirtuaWin - Window Info"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_VIRTUAWIN, IDC_STATIC, 10, 10, 20, 20
    EDITTEXT        IDC_WID_INFO, 50, 10, 200, 170, ES_MULTILINE | ES_READONLY |NOT WS_TABSTOP | NOT WS_BORDER
    DEFPUSHBUTTON   "OK", IDCANCEL,  105, 190, 40, 14
END

IDD_WINDOWRULEDIALOG DIALOG 79, 25, 292, 362
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "VirtuaWin - Window Rules"
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         IDC_WTYPE_LIST, 6, 6, 280, 102, WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | LBS_USETABSTOPS
    PUSHBUTTON      "Up",      IDC_WTYPE_UP,       6, 110, 40, 14
    PUSHBUTTON      "Down",    IDC_WTYPE_DOWN,    51, 110, 40, 14
    PUSHBUTTON      "Add",     IDC_WTYPE_ADD,    156, 110, 40, 14
    PUSHBUTTON      "Modify",  IDC_WTYPE_MOD,    201, 110, 40, 14
    PUSHBUTTON      "Delete",  IDC_WTYPE_DEL,    246, 110, 40, 14

    LTEXT           "Class name:", IDC_STATIC,     6, 132, 50, 8, 0
    EDITTEXT        IDC_WTYPE_CNAME,              60, 130, 135, 12, ES_LEFT | ES_AUTOHSCROLL
    LTEXT           "Window name:", IDC_STATIC,    6, 146, 50, 8, 0
    EDITTEXT        IDC_WTYPE_WNAME,              60, 144, 135, 12, ES_LEFT | ES_AUTOHSCROLL
    LTEXT           "Process name:", IDC_STATIC,   6, 160, 50, 8, 0
    EDITTEXT        IDC_WTYPE_PNAME,              60, 158, 135, 12, ES_LEFT | ES_AUTOHSCROLL

    AUTOCHECKBOX    "Window rule enabled", IDC_WTYPE_ENABLE, 6, 172, 100, 10
    AUTOCHECKBOX    "Automatically close windows of this type", IDC_WTYPE_CLOSE, 18, 183, 160, 10
    AUTOCHECKBOX    "Make windows of this type always on top", IDC_WTYPE_ALONTOP, 18, 194, 160, 10
    AUTORADIOBUTTON "Never manage windows of this type", IDC_WTYPE_NMANAGE, 18, 205, 130, 10
    AUTORADIOBUTTON "Always manage windows of this type", IDC_WTYPE_AMANAGE, 18, 216, 140, 10
    AUTORADIOBUTTON "Let VirtuaWin decide whether to manage windows", IDC_WTYPE_VMANAGE, 18, 227, 170, 10
    AUTOCHECKBOX    "Main window of multiple taskbar buttons", IDC_WTYPE_MAINWIN,  18, 238, 160, 10
    AUTOCHECKBOX    "Show windows of this type on all desktops", IDC_WTYPE_STICKY,  18, 249, 160, 10
    AUTOCHECKBOX    "Keep all windows of this application together", IDC_WTYPE_GRPAPP,  18, 260, 160, 10
    AUTOCHECKBOX    "Automatically move windows of this type to Desktop:", IDC_WTYPE_AMOVE, 18, 273, 180, 10
    COMBOBOX        IDC_WTYPE_AMDSK, 200, 271, 40, 200, CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP
    AUTOCHECKBOX    "Move windows immediately", IDC_WTYPE_AMIMM, 30, 285, 100, 10
    LTEXT           "On hidden window activation:", IDC_STATIC,   18, 298, 110, 10
    COMBOBOX        IDC_WTYPE_HWACT, 130, 296, 130, 56, CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "Method for hiding the window:", IDC_STATIC,  18, 312, 110, 10
    COMBOBOX        IDC_WTYPE_WHIDE, 130, 310, 130, 150, WS_VSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "Method for hiding taskbar button:", IDC_STATIC,  18, 326, 110, 10
    COMBOBOX        IDC_WTYPE_THIDE, 130, 324, 130, 150, WS_VSCROLL | CBS_DROPDOWNLIST | WS_TABSTOP

    PUSHBUTTON      "OK",      IDC_WTYPE_OK,     111, 342, 40, 14
    DEFPUSHBUTTON   "Cancel",  IDCANCEL,         156, 342, 40, 14
    PUSHBUTTON      "Apply",   IDC_WTYPE_APPLY,  201, 342, 40, 14
    PUSHBUTTON      "Help",    IDC_WTYPE_HELP,   246, 342, 40, 14
END

#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 4,4,0,15
 PRODUCTVERSION 4,4,0,15
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", vwVIRTUAWIN_WEBSITE "\0"
            VALUE "CompanyName", vwVIRTUAWIN_NAME "\0"
            VALUE "FileDescription", vwVIRTUAWIN_NAME_VERSION "\0"
            VALUE "FileVersion", "4.4.0.15\0"
            VALUE "InternalName", vwVIRTUAWIN_NAME "\0"
            VALUE "LegalCopyright", "Copyright © 1999-2012\0"
            VALUE "OriginalFilename", vwVIRTUAWIN_NAME ".exe\0"
            VALUE "ProductName", vwVIRTUAWIN_NAME "\0"
            VALUE "ProductVersion", "4.4.0.15\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // !_MAC

// Embed a manifest to make the config UI has XP style theme.
// VC6 does not have these defined by deffault
#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#endif
#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif

//CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "VirtuaWin.exe.manifest"
